<div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Add Interview Question</mat-card-title>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <form [formGroup]="addForm">
                <div fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <mat-form-field appearance="outline">
                            <mat-label>Technology Category</mat-label>
                            <mat-select placeholder="Technology Category" formControlName="TechnologyId">
                                <mat-option *ngFor="let tech of technology" [value]="tech.TechnologyId" >
                              {{tech.TechnologyName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <mat-form-field appearance="outline">
                            <mat-label>Question</mat-label>
                            <input matInput placeholder="Question" formControlName="questions">
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-xs="100">
                        <div fxFlex="100" fxFlex.gt-xs="20">
                            <button mat-raised-button (click)="Save(addForm)"
                                style="background-color: #553D67; color:#ffffff;">
                                Save
                            </button>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="20">
                            <button mat-raised-button (click)="Close()"
                                style="background-color: #553D67; color:#ffffff;">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>